{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default Chai
        {% endblock  %}
    </title>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <nav>This is our Navbar: <a href="{% url "all_chai" %}">Click for All_chai</a></nav>
    {% block content %}{% endblock  %}
    <footer>This is our footer</footer>
</body>
</html>