/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    min-height:100vh;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:700px;
    background:#ffffff;
    border-radius:24px;
    padding:35px;
    box-shadow:
        0 10px 25px rgba(0,0,0,.15),
        0 20px 60px rgba(0,0,0,.12);
}

h1{
    text-align:center;
    color:#0f172a;
    margin-bottom:25px;
    font-size:2rem;
    font-weight:700;
}

form{
    display:flex;
    gap:12px;
    margin-bottom:30px;
}

input[type="text"]{
    flex:1;
    padding:14px 18px;
    border:2px solid #e2e8f0;
    border-radius:12px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

input[type="text"]:focus{
    border-color:#3b82f6;
    box-shadow:0 0 0 4px rgba(59,130,246,.15);
}

button{
    border:none;
    background:#2563eb;
    color:white;
    padding:14px 22px;
    border-radius:12px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

ul{
    list-style:none;
    overflow: scroll;
    height: 60vh;
    scrollbar-width: none;
}

li{
    background:#f8fafc;
    border:1px solid #e2e8f0;
    padding:16px 18px;
    border-radius:14px;
    margin-bottom:12px;
    font-size:15px;
    color:#334155;
    display:flex;
    align-items:center;
    justify-content:space-between;
    transition:.3s;
}

li:hover{
    transform:translateX(5px);
    background:#f1f5f9;
}
/* 
li::before{
    content:"📍";
    width:28px;
    height:28px;
    min-width:28px;
    border-radius:50%;
    background:#22c55e;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:12px;
    font-size:14px;
    font-weight:bold;
} */

.empty{
    text-align:center;
    color:#94a3b8;
    padding:25px;
    font-size:15px;
}

@media(max-width:600px){

    .container{
        padding:20px;
    }

    .flex{
    display: flex;
    gap: 5px;
}

    h1{
        font-size:1.5rem;
    }

    form{
        flex-direction:column;
    }

    button{
        width:100%;
    }
}

.flex{
    display: flex;
    gap: 5px;
}