<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#2 Template</title>
</head>
<body>
    <h1>Blog Filter Page:</h1>
    {% comment %} Text Filter {% endcomment %}
    <h2>Normal Filter</h2>
    <p><b>title (Normal): </b>{{post.title}}</p>
    <p><b>title (Upper Case): </b>{{post.title | upper}}</p>
    <p><b>title (Lower Case): </b>{{post.title | lower}}</p>
    <p><b>title (Capital Case): </b>{{post.title | capfirst }}</p>
    <p><b>title (title Case): </b>{{post.title | title }}</p>
    <p><b>title (Trunccate Case): </b>{{post.title | truncatechars:20 }}</p>
    <p><b>title (Trunccatewords Case): </b>{{post.title | truncatewords:2 }}</p>
    <p><b>title (LineBreak Case): </b>{{post.title | linebreaks }}</p>
    
    <hr>
{% comment %} Addition  {% endcomment %}
<p><b>Original Price:</b> {{post.price}}</p>
<p><b>Original Price(+5):</b> {{post.price | add:5}}</p>

<hr>
{{post.rollnumber}}
{% comment %} Division {% endcomment %}
{% if post.rollnumber|divisibleby:2 %}
    <p>{{post.rollnumber}} is Even</p>
    {% else %}
    <p>{{post.rollnumber}} is Odd</p>

{% endif %}



    
</body>
</html>